@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
:root {
  --primary-light: #7dd3fc;
  --primary-normal: #289fd6;
  --primary-dark: #0369a1;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: minmax(250px, 2fr) 9fr;
}
.Sidebar {
  background: var(--primary-normal);
  color: white;
  fill: white;
  font-weight: 500;
  display: grid;
  gap: 2rem;
  padding: 3rem 2rem;
  align-content: start;
  gap: 2rem;
}
.sidebar_logo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
  gap: 0.65rem;
}
.sidebar_logo svg {
  width: 2rem;
  cursor: pointer;
}

svg {
  width: 1.4rem;
}
.sidebar_items {
  font-size: 1.1rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin-block-end: 0.65rem;
  cursor: pointer;
}
.sidebar_items:hover {
  color: black;
  fill: black;
}
