:root {
  --light: #f9a826;
  --dark: #683c21;
  --darker: #533929;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: bisque;
}
header {
  background: #53392933;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & img {
    height: 48px;
  }
  .logo_text {
    height: 36px;
    margin-inline-start: 10px;
  }
  .social_link {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
  .social_link:hover {
    background-color: #fffd;
  }
}
a {
  color: inherit;
  text-decoration: none;
  margin-inline: 10px;
  & a:hover {
    text-decoration: 1px solid underline;
  }
}
ul {
  display: flex;
  gap: 1.5rem;
  & li {
    list-style: none;
    padding: 0.75rem 1.5rem;
    color: white;
    background: var(--dark);
    cursor: pointer;
  }
  & > a {
    pointer-events: none;
  }
  & li:hover {
    background-color: var(--darker);
  }
}
