@font-face {
  font-family: "Amaranth";
  font-weight: normal;
  font-style: normal;
  src: url(amaranth.woff2);
}
:root {
  --light: #f9a826;
  --dark: #683c21;
  --darker: #362419;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: Verdana, sans-serif;
  background-color: bisque;
}
::selection {
  background-color: var(--darker);
  color: white;
}
::-moz-selection {
  background-color: var(--darker);
  color: white;
}
img {
  max-width: 100%;
  display: block;
}
header {
  background: #53392933;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & img {
    height: 48px;
  }
  .logo_text {
    height: 36px;
    margin-inline-start: 10px;
  }
  .social_link {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
  .social_link:hover {
    background-color: #fffd;
  }
}
a {
  color: inherit;
  text-decoration: none;
  margin-inline: 10px;
  user-select: none;
  & a:hover {
    text-decoration: 1px solid underline;
  }
}
ul {
  display: flex;
  gap: 1.5rem;
  & li {
    list-style: none;
    padding: 0.75rem 1.5rem;
    color: white;
    background: var(--dark);
    cursor: pointer;
  }
  & .tab[aria-selected="true"],
  & li:hover {
    background-color: var(--darker);
  }
}
h1 {
  font-size: 3rem;
  font-family: "Amaranth", "Segoe UI", sans-serif;
  width: fit-content;
  margin: 2.5rem auto;
  font-weight: bolder;
  color: var(--darker);
}
h2 {
  font-size: 2.1rem;
  font-family: "Segoe UI", sans-serif;
  margin-block-end: 0.7rem;
  font-weight: bold;
}
.supports_nesting {
  color: black;
  background: #fff;
  padding: 1rem;
  display: block;
}
@supports selector(&) {
  .supports_nesting {
    display: none;
  }
}
main {
  padding: 1rem 2.5rem;
  border-top: 5px solid #111;
}
#hero {
  display: flex;
  gap: 3%;
}
#hero > * {
  min-width: 48.5%;
}
