* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: Verdana, sans-serif;
  display: grid;
  place-content: center;
}
main {
  display: grid;
  place-content: center;
  row-gap: 1rem;
  background: #e1f7e3;
  padding: 2rem;
  border-radius: 15px;
}
a,
a:visited {
  color: inherit;
}
main > * {
  margin: 0 auto;
}
#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
}
.box {
  width: 4rem;
  aspect-ratio: 1;
  cursor: pointer;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  font-family: cursive;
  border: 1px solid black;
}

.box:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  border-top: none;
}

.box:not(:nth-child(3n + 1)) {
  border-left: none;
}
.box:hover {
  background-color: hsl(45, 100%, 97%);
}
button {
  max-width: fit-content;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-block-start: 0.75rem;
  border: none;
  border-radius: 5px;
  outline: 2px solid hsl(45, 100%, 30%);
  background: #fff;
  margin-block-start: 20px;
}
button:hover {
  background-color: hsl(45, 100%, 20%);
  color: white;
  outline: none;
  scale: 1.05;
  translate: 0px -2px;
}
main:has(form) #restart_btn {
  display: none;
}
main:has(.box) #restart_btn {
  display: block;
  margin-block-start: 1rem;
}
input {
  display: block;
  margin-block-end: 0.75rem;
  font-size: 1.25rem;
}
input[type="checkbox"] {
  height: 0.75rem;
  width: 0.75rem;
  margin-block: auto;
}
h1 {
  font-family: monospace;
  font-size: 2.25rem;
  color: hsl(45, 100%, 30%);
}
.status {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
.label_wrapper {
  display: flex;
  gap: 10px;
  margin-block: 20px 10px;
}
